<!doctype html>
<html>
<head>
<link rel="shortcut icon" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjy-obfwQrfYjlNjgmE7Acx4LiFLZfueOYDePAcMOgus8lo7jJ" />
<link rel="apple-touch-icon" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjy-obfwQrfYjlNjgmE7Acx4LiFLZfueOYDePAcMOgus8lo7jJ" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rm: <%= myGroup %></title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      html body { font: 13px Helvetica, Arial; height: 100%;}
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0px; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 90%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      
    div.wrapper {
    height:300px;
    border-style:solid;
    background: #3FD1AC;
    overflow:auto;   
    }
    </style>
   
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

 <script type="text/javascript" src="/javascripts/mycommands.js"></script>
 <script type="text/javascript" src="/javascripts/myanytaxis.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <script type="text/javascript" src="/javascripts/geo.js"></script> 
 
        
<script type="text/javascript">
/*
     window.addEventListener('load', function(){
         alert('<%= myInitials %>');
     });
*/
//var myobj = new mycommander();  
//alert ( 'myobj = '+ myobj)  ;
//myobj.my_test();
//alert(mycommander);
//mycommander.
//mycmd.my_test();    // alerts: 1
</script>
    
<script>
// location stuff begin
 geocoder = new google.maps.Geocoder();
 
    function codeLatLng(lat, lng)
    {
        //alert('lat = ' + lat);
        var info = "";
        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results)
                if (results[1]) {
                    sendMsg(results[0].formatted_address);
                    
                    //find country name
                    for (var i = 0; i < results[0].address_components.length; i++) {
                        for (var b = 0; b < results[0].address_components[i].types.length; b++) {

                            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                            if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                //this is the object you are looking for
                                city = results[0].address_components[i];
                                break;
                            }
                        }
                    }
                    //city data
                    //alert(city.short_name + " " + city.long_name)
                } else {
                    alert("No results found");
                }
            } else {
                alert("Geocoder failed due to: " + status);
            }
        });

        return info;
    }
    
    function getLocation() {     
        if (navigator.geolocation) {
               //alert(navigator.geolocation)
            navigator.geolocation.getCurrentPosition(SetPosition, showError);
        }
        else { alert("Geolocation is not supported by this browser."); }
    }

    function SetPosition(position)
    {
        $('#lat').val(position.coords.latitude);
        $('#lon').val(position.coords.longitude);
       
        //TestShit();
        var info = codeLatLng(position.coords.latitude, position.coords.longitude);
    }   
// location stuff end
</script>    

<script type="text/javascript">   
    var height = 0;
    $('div p').each(function(i, value){
        height += parseInt($(this).height());
    });

    height += '';
    //alert(height);
    $('dvTable').animate({scrollTop: height});
</script>

  </head>
  <body>

    <!--the hidden shits begin -->
    <input id="lat" type="hidden" name="x_lat" value="" />
    <input id="lon" type="hidden" name="x_lon" value="" />
    <!--the hidden shits end -->

    <div class="wrapper" id="dvTable" >
    <span id="messages"></span>
    </div>
    <div>
    <span> <%= myInitials %> chatting in room <%= myGroup %></span>
    </div>
 
<form action="">
 <div class="form-group form-group-lg">
     <!--
    <label class="col-sm-2 control-label" for="formGroupInputLarge">chit chatty</label>
     -->
     <!--
    <div class="col-sm-10">
      <input class="form-control" type="text" id="m" autocomplete="off" placeholder="say something">
    </div>
  -->

    <div class="form-group">
      <input class="form-control" type="text" id="m" autocomplete="off" placeholder="say something">
    </div>

 </div>
   <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
  </div>

    <!-- <input id="m" autocomplete="off" /><button>Send</button> -->
    </form>
    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    

    <script>
    //var textbox = $("#message22");
    var msgData = "";
    //alert('<%= myInitials %>');
    
    var initial = '<%= myInitials %>'; // || 'chat message';
    var room = '<%= myGroup %>';
   	var socket = io.connect(); //('http://localhost:8080');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', initial); //prompt("What's your name?"));
       // /*
       setTimeout(function(){
            socket.emit('switchRoom', room);
            //alert(room);
            console.log("THIS IS");
        }, 1000);
        // */   
	
	});
      
      $('form').submit(function(){
      //var mmm = initial + $('#m').val();
      var mmm = $('#m').val();
      
        //socket.emit('chat message', mmm);
        // tell server to execute 'sendchat' and send along one parameter
        socket.emit('sendchat', mmm);
            
        $('#m').val('');         
        return false;
      });
      
    // listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		//$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
        var msg = '<b>'+username + ':</b> ' + data + '<br>';
        //$('#messages').append($('<li>').text(msg));
        $('#messages').append($('<li>').html(msg));
        
        //textbox.val( textbox.val() + ' ' + msg);
        msgData += (msg + "\n");
        console.log('msgData = [' + msgData + ']');
        $('div').animate({scrollTop: 100150});       

//
var iWt = 0;
data = data.toUpperCase();
if (data.indexOf("**") > -1)
{
    iWt++;
}
if (data.indexOf("CMD") > -1)
{
    iWt++;
}
if (iWt > 1)
{
    mycmd.my_test();
    // get location
    getLocation();
}
//
      
	});
    
/*********    
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        
        //textbox.val( textbox.val() + ' ' + msg);
        msgData += (msg + "\n");
        console.log('msgData = [' + msgData + ']');
        $('div').animate({scrollTop: 100150});        
      });
      **********/
      
    </script>
    <script>
    function sendMsg(data)
    {
        socket.emit('sendchat', data);
    }
    
    </script>  

  </body>
</html>
